#componentContent {
    overflow: scroll;
    padding-bottom: 100px;
}
.component-line {
    line-height: 40px;
    border-bottom: solid #E0EEEE 1px;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.component-line>i:nth-child(1) {
    width: 30px;
    padding-left: 10px;
}
.component-line>i:nth-child(2) {
    width: 30px;
    padding-left: 10px;
}
.component-line>i:nth-child(4) {
    width: 30px;
    padding-left: 10px;
    right: 0;
    position: absolute;
    display: none;
}
.component-line.template>i:nth-child(4), .component-line.lock>i:nth-child(4) {
    display: block;
}
.component-line.template>i:nth-child(4) {
    color: #D3D3D3;
}
.component-line.template>.layui-icon-align-center, .component-line.lock>.layui-icon-align-center {
    color: #D3D3D3;
}
.component-line.select {
    background-color: #E0EEEE;
}
.component-text {
    font-size: 14px;
    overflow: hidden;
    word-break: keep-all;
}
.component-image {
    height: 34px;
    border: solid #D4D4D4 1px;
    border-radius: 4px;
    margin: 2px;
}
.bottom-buttons {
    position: absolute;
    bottom: 0px;
    width: 98%;
    background-color: #E6E6E6;
    border-radius: 4px;
    padding-bottom: 4px;
}
.bottom-buttons .layui-btn-group {
    padding-left: 6px;
}
.bottom-buttons .layui-btn {
    padding: 0 14px;
}
button.tip::after {
    content:attr(title);
    display: none;
    position: absolute;
    padding: 5px 10px;
    bottom: 100%;
    margin-bottom: 12px;
    transform: translateX(-50%);
    font-size: 16px;
    background: #000;
    color: #fff;
    cursor: default;
}
button.tip::before {
    content: " ";
    position: absolute;
    display: none;
    bottom: 100%;
    transform: translateX(-50%);
    margin-bottom: 3px;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 9px solid #000;
}
button.tip:hover::after,
button.tip:hover::before {
    display: block;
}
.blue-background-class {
    background-color: #F0FFFF;
}
#componentButtonText::after {
    left: 25%;
}
#componentButtonText::before {
    transform: translateX(25%);
}
#componentButtonImage::before,#componentButtonImage::after {
    left: 32%;
}
#componentButtonDelete::before,#componentButtonDelete::after {
    left: 52%;
}
#componentButtonToggleLock::before,#componentButtonToggleLock::after {
    left: 70%;
}
#componentButtonToggleShow::after {
    left: 65%;
}
#componentButtonToggleShow::before {
    transform: translateX(0);
}
