#textPropertyPanel, #imagePropertyPanel, #animatePanel {
    display: none;
}
#fontSizeSlider, #lineHeightSlider, #imageWidthSlider, #imageHeightSlider {
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}
.layui-tab {
    text-align: center !important;
}
.layui-tab-content {
    text-align: left !important;
}
.layui-tab-content {
    padding-left: 2px;
    padding-right: 2px;
}
.layui-form-pane .layui-form-label {
    width: 60px;
}
.layui-form-pane .layui-input-block {
    margin-left: 60px;
}
#operatePanel .layui-form-label {
    width: 90px;
}
#operatePanel .layui-input-block {
    margin-left: 90px;
}
.layui-btn-group {
    padding-top: 4px;
    padding-left: 10px;
}
.layui-form-item .layui-inline {
    margin-left: 10px;
}
