#historyContent {
    overflow: scroll;
    padding-left: 6px;
    padding-right: 6px;
}
#historyContent .history-item {
    cursor: pointer;
    margin-top: 6px;
    padding-bottom: 6px;
    padding-left: 10px;
    border-bottom: solid #E0EEEE 1px;
}
