#historyContent {
    overflow: scroll;
    padding-left: 6px;
    padding-right: 6px;
}
#historyContent .history-item {
    cursor: pointer;
    margin-top: 6px;
    padding-bottom: 6px;
    padding-left: 10px;
    border-bottom: solid #E0EEEE 1px;
}

#help {
    padding: 10px;
    font-size: 18px;
    line-height: 25px;
    color: grey;
}
#help .title {
    color: #159688;
}
#help :not(.title) {
    margin-left: 20px;
}
#help span {
    color: #FF7256;
}
#historyButtonBack::after {
    left: 25%;
}
#historyButtonBack::before {
    transform: translateX(25%);
}
#historyButtonForward::before,#historyButtonForward::after {
    left: 30%;
}
#historyButtonHistory::before,#historyButtonHistory::after {
    left: 48%;
}
#historyButtonPlay::before,#historyButtonPlay::after {
    left: 68%;
}
#historyButtonHelp::after {
    left: 72%;
}
#historyButtonHelp::before {
    transform: translateX(0);
}
