#pageContent {
    overflow: scroll;
    padding-left: 6px;
    padding-right: 6px;
}
#pageContent .page-item {
    cursor: pointer;
    margin-top: 6px;
    padding-bottom: 6px;
    padding-left: 10px;
    border-bottom: solid #E0EEEE 1px;
}
.page-line {
    line-height: 40px;
    border-bottom: solid #E0EEEE 1px;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.page-line>i:nth-child(1) {
    width: 30px;
    padding-left: 10px;
}
.page-line.select {
    background-color: #E0EEEE;
}
#help {
    padding: 10px;
    font-size: 18px;
    line-height: 25px;
    color: grey;
}
#help .title {
    color: #159688;
}
#help :not(.title) {
    margin-left: 20px;
}
#help span {
    color: #FF7256;
}
#pageButtonCopy::after {
    left: 16%;
}
#pageButtonCopy::before {
    transform: translateX(16%);
}
#pageButtonDelete::before,#pageButtonDelete::after {
    left: 30%;
}
#pageButtonSetBackground::before,#pageButtonSetBackground::after {
    left: 48%;
}
#pageButtonPlay::before,#pageButtonPlay::after {
    left: 68%;
}
#pageButtonHelp::after {
    left: 72%;
}
#pageButtonHelp::before {
    transform: translateX(0);
}
