#leftPanel {
    position: absolute;
    left: 20px;
    top: 75px;
    width: 320px;
    height: 667px;
    border: 1px solid #E6E6E6;
    overflow: scroll;
    border-radius: 10px;
}
#phone {
    position: absolute;
    left: 380px;
    top: 2px;
    width: 384px;
    height: 788px;
    border: 0;
    background-image: url(phone.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#editor {
    position: absolute;
    left: 383px;
    top: 75px;
    width: 375px;
    height: 667px;
    border: 1px solid #000;
}
#rightPanel {
    position: absolute;
    left: 800px;
    top: 75px;
    width: 250px;
    height: 667px;
    padding-bottom: 36px;
    border: 1px solid #E6E6E6;
    border-radius: 10px;
}
#rightBottomPanel {
    position: absolute;
    bottom: 0px;
    width: 100%;
    background-color: #E6E6E6;
    border-radius: 4px;
}
#rightBottomPanel .layui-btn-group {
    padding-left: 6px;
}
#componentContent {
    overflow: scroll;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 100px;
}
#componentBottom {
    position: absolute;
    bottom: 0;
}
#componentBottom .layui-btn-group {
    padding-left: 1px;
}
#historyContent {
    overflow: scroll;
    padding-left: 6px;
    padding-right: 6px;
}
#historyContent .history-item {
    cursor: pointer;
    margin-top: 6px;
    padding-bottom: 6px;
    padding-left: 10px;
    border-bottom: solid #E0EEEE 1px;
}
#componentButtonText::before,#componentButtonText::after {
    left: 10%;
}
#componentButtonImage::before,#componentButtonImage::after {
    left: 30%;
}
#componentButtonDelete::before,#componentButtonNext::after {
    left: 70%;
}
#componentButtonPlay::before,#componentButtonNext::after {
    left: 90%;
}
#componentButtonHistory::before,#componentButtonNext::after {
    left: 90%;
}
#componentButtonHelp::before,#componentButtonPre::after {
    left: 50%;
}
#help {
    padding: 10px;
    font-size: 18px;
    line-height: 25px;
    color: grey;
}
#help .title {
    color: #159688;
}
#help :not(.title) {
    margin-left: 20px;
}
#help span {
    color: #FF7256;
}
