body {
    background-color: #000;
}
#leftPanel {
    position: absolute;
    left: 20px;
    top: 75px;
    width: 320px;
    height: 667px;
    padding-bottom: 36px;
    border: 1px solid #E6E6E6;
    overflow: scroll;
    border-radius: 10px;
    background-color: #FFF;
}
#phone {
    position: absolute;
    left: 380px;
    top: 2px;
    width: 384px;
    height: 788px;
    border: 0;
    background-image: url(phone.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#editor {
    position: absolute;
    left: 383px;
    top: 75px;
    width: 375px;
    height: 667px;
    border: 1px solid #000;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: #FFF;
}
#componentPanel {
    position: absolute;
    left: 800px;
    top: 75px;
    width: 256px;
    height: 667px;
    padding-bottom: 36px;
    border: 1px solid #E6E6E6;
    border-radius: 10px;
    background-color: #FFF;
}
#historyPanel {
    position: absolute;
    left: 1060px;
    top: 75px;
    width: 204px;
    height: 667px;
    padding-bottom: 36px;
    border: 1px solid #E6E6E6;
    border-radius: 10px;
    background-color: #FFF;
}
#pagePanel {
    position: absolute;
    left: 1268px;
    top: 75px;
    width: 266px;
    height: 667px;
    padding-bottom: 36px;
    border: 1px solid #E6E6E6;
    border-radius: 10px;
    background-color: #FFF;
}
.hide {
    display: none;
}
